/* Estilo global */
body {
    margin: 0;
    padding: 0;
    font-family: 'Google Sans', Arial, sans-serif;
    background-color: #f2f2f2;
}

/* Estilo do cabeçalho */
.header {
    /*background-color: #e9e5e5;
     Fundo cinza fraco */
    padding: 30px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.logo img {
    width: 320px;
    height: 44;
    /* Ajuste conforme o tamanho do seu logo */
    
}

.contact-info {
    text-align: right;
}

.contact-info p {
    margin: 0;
}
.horizontal-line {
    width: 100%;
    height: 1px; /* Ajuste a altura conforme necessário */
    background-color: rgb(219, 214, 214); /* Cor da linha */
    margin: 0; /* Remova qualquer margem para garantir que a linha esteja encostada no cabeçalho */
}

#blueDiv {
    background-color: #007dbe;
    
    /* Azul claro */
    width: 15cm;
    height: 15cm;
    margin: 2cm auto;
    /* Centraliza a div na tela */
    border-radius: 10px;
    /* Arredonda as bordas */
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    /* Aplica uma sombra */
    position: relative;
    /* Permite posicionar a nova div dentro desta */
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    /* Centraliza verticalmente */
    align-items: center;
    /* Centraliza horizontalmente */
    padding-top: 60px;
    /* Espaçamento superior para separar do cabeçalho */
}

#headerDiv {
    background-color: #00aeef;
    color: #181717;
    position: absolute;
    /* Permite posicionar o texto de forma absoluta */
    top: 0;
    /* Alinha o topo da nova div com o topo da div pai */
    left: 0;
    /* Alinha a esquerda da nova div com a esquerda da div pai */
    width: 547px;
    /* Faz a nova div ocupar toda a largura da div pai */
    text-align: center;
    /* Centraliza o texto */
    height: 25%;
    padding: 10px;
    /* Adiciona um espaçamento interno */
    border-top-left-radius: 10px;
    /* Arredonda apenas a borda superior esquerda */
    border-top-right-radius: 10px;
    /* Arredonda apenas a borda superior direita */

}

h1 {

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 250%;
    margin-top: 20px;

    /*ext-decoration: underline;*/
}


#conteudoDiv {

    color: rgb(59, 59, 59);
    margin:0;
    margin-top: 50px;
    text-align: center;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%; /* Ocupa toda a altura do pai */

}

.container {
    width: auto;

}

.rounded-button {
    margin:0;
    margin-top: 10px; /* Adicionar espaço acima do botão */
    display:center;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    padding: 10px 20px;
    width: 100%;
    text-align: center;
    border: none;
    border-radius: 20px;
    /* Define cantos arredondados */
    background-color: #7da3e9;
    /* Cor de fundo do botão (azul) */
    color: white;
    /* Cor do texto do botão */
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}
#codigoInput{
    border-width: 1px;
    background-color: rgb(247, 241, 241);
    border-style: solid;
    margin-bottom: 10px; /* Adicionar espaço abaixo do input */
    width: auto;
    height:40px;
    border-radius: 10px;
    }

.rounded-button:hover {
    background-color: #0056b3;
    /* Cor de fundo do botão ao passar o mouse */
}

h3{

    font-size:x-large;
    color: rgb(253, 251, 251);
}